/*Reset css section */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;	padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym{border:0;}
a:active, a:focus, img{outline:none;}


/*Main template styles*/
html, body{height:100%;text-align:center;}
body{
	background:url(images/design/header1.jpg) center 42px repeat-x #ffffff;
	font-family:Cambria,Tahoma,Georgia,sans-serif;
	font-style:normal;
	color:#000000;
	font-size:14px;
	line-height:18px;
	}
.hunting{
	background:url(images/design/header2.jpg) center 42px repeat-x #ffffff;
	}
.apartament{
	background:url(images/design/header3.jpg) center 42px repeat-x #ffffff;
	}
.usadba{
	background:url(images/design/header4.jpg) center 42px repeat-x #ffffff;
	}
.winter{
	background:url(images/design/header5.jpg) center 42px repeat-x #ffffff;
	}

p,ul,ol{
	margin:1.5em 0;
	padding:0;
	text-align:left;
	}
ul,ol{
	padding:0 0 0 0px;
	}

h1,h2,h3,h4,h5,h6{
	margin:1em 0;
	text-align:left;
	font-weight:normal;
	}
h1{
	font-size:28px;
	line-height:30px;
	}
h2{
	font-size:24px;
	line-height:30px;
	}
h3{
	font-size:21px;
	line-height:28px;
	}
h4{
	font-size:18px;
	line-height:20px;
	}
h5{
	font-size:16px;
	line-height:20px;
	}

strong{
	font-weight:bold;
	}
em{
	font-style:italic;
	}

td{
	vertical-align:top;
	}

a{
	color:#878787;
	text-decoration:underline;
	cursor:pointer;
	}
a:hover{
	color:#72643a;
	text-decoration:none;
	}

.wrapper{
	width:716px;
	margin:0 auto;
	height:auto !important;
	padding:0;
	text-align:center;
	position:relative;
	z-index:1;
	}

.hidden{
	display:none;
	visibility:hidden;
	}
.clear{
	float:none;
	clear:both;
	overflow:hidden;
	padding:1px 0;
	}
.pushBlock{
	width:100%;
	clear:both;
	}

.header{
	height:53px;
	overflow:visible;
	text-align:left;
	}
	.headerLang{
		width:35px;
		height:40px;
		float:left;
		padding:0;
		}
		.headerLang a{
			display:inline-block;
			padding:17px 0 0 5px;
			}

.mainNav{
	width:630px;
	height:40px;
	margin:0;
	float:left;
	}
	.mainNavItems{
		display:block;
		margin:0;
		padding:0;
		list-style:none;
		}
		.mainNavItem{
			display:block;
			margin:0 2px;
			float:left;
			}
			.mainNavItem a{
				display:block;
				float:left;
				padding:15px 7px 5px 7px;
				font-size:14px;
				line-height:20px;
				text-decoration:none;
				text-transform:uppercase;
				color:#878787;
				}
				.mainNavItem a.active,
				.mainNavItem a:hover{
					color:#878787;
					text-shadow:1px 1px 1px #ffffff;
					background: rgb(190,175,129); /* Old browsers */
					background: -moz-linear-gradient(top,  rgba(190,175,129,1) 1%, rgba(203,191,154,1) 100%); /* FF3.6+ */
					background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(190,175,129,1)), color-stop(100%,rgba(203,191,154,1))); /* Chrome,Safari4+ */
					background: -webkit-linear-gradient(top,  rgba(190,175,129,1) 1%,rgba(203,191,154,1) 100%); /* Chrome10+,Safari5.1+ */
					background: -o-linear-gradient(top,  rgba(190,175,129,1) 1%,rgba(203,191,154,1) 100%); /* Opera 11.10+ */
					background: -ms-linear-gradient(top,  rgba(190,175,129,1) 1%,rgba(203,191,154,1) 100%); /* IE10+ */
					background: linear-gradient(to bottom,  rgba(190,175,129,1) 1%,rgba(203,191,154,1) 100%); /* W3C */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#beaf81', endColorstr='#cbbf9a',GradientType=0 ); /* IE6-9 */
					border-radius:0 0 5px 5px;
					}
.socialLinks{
	width:50px;
	float:left;
	}
	.socialLinks ul{
		display:block;
		margin:0;
		padding:17px 0 0 0;
		list-style:none;
		}
		.socialLinks li{
			display:inline-block;
			margin:0 3px 0 0;
			}
.mainCalendar{
	margin:0 0 0 -90px;
	padding: 37px 0 158px 81px;
	width:385px;
	float:left;
	background:url(images/design/guns.jpg) left bottom no-repeat;
	}
	.bigCalendar{
		display:block;
		width:373px;
		height:332px;
		position:relative;
		background:url(images/design/bigcalendar.png) center center no-repeat;
		}
		.bigCalendar a{
			display:inline-block;
			width:184px;
			height:160px;
			font-size:0;
			}
.huntingCalendar{
	margin:0 0 0 -38px;
	padding: 2px 0 70px 30px;
	width:242px;
	float:left;
	background:url(images/design/hunting.jpg) left bottom no-repeat;
	}
.apartamentCalendar{
	margin:0 0 0 -38px;
	padding: 2px 0 70px 30px;
	width:242px;
	float:left;
	background:url(images/design/apartament.jpg) left bottom no-repeat;
	}
.winterCalendar{
	margin:0 0 0 -118px;
	padding: 2px 0 0 110px;
	width:242px;
	float:left;
	background:url(images/design/winter.jpg) left 143px no-repeat;
	}
	.winterCalendar .normalCalendar{
		padding:0 0 70px 0;
	}
.usadbaCalendar{
	margin:0 0 0 -58px;
	padding: 2px 0 0 50px;
	width:242px;
	float:left;
	background:url(images/design/usadba.jpg) left 143px no-repeat;
	}
	.usadbaCalendar .normalCalendar{
		padding:0 0 70px 0;
	}
	.normalCalendar{
		display:block;
		width:242px;
		height:215px;
		position:relative;
		background:url(images/design/normalcalendar.png) center 0 no-repeat;
		}
		.normalCalendar a{
			display:inline-block;
			width:106px;
			height:120px;
			font-size:0;
			}
.sideSections{
	clear:both;
	padding:0 0 0 10px;
	}
	.sideSectionItems{
		display:block;
		margin:20px 0;
		padding:0;
		list-style:none;
		}
		.sideSectionItem{
			display:inline-block;
			width:220px;
			margin:0 20px 10px 0;
			padding: 11px 0;
			border-top:2px solid #c7c7c7;
			}
			.sideSectionItem img{
				float:left;
				margin: 0 9px 9px 0;
				}
			.sideSectionItem h3{
				text-transform:uppercase;
				font-size:13px;
				line-height:16px;
				font-weight:bold;
				margin:0 0 7px 0;
				}
				.sideSectionItem.winterBlock h3 a{
					color:#b8b8b8;
					}
				.sideSectionItem.springBlock h3 a{
					color:#889933;
					}
				.sideSectionItem.summerBlock h3 a{
					color:#2a7f20;
					}
				.sideSectionItem.autumnBlock h3 a{
					color:#e0ad0f;
					}
			.sideSectionItem a{
				color:#000000;
				text-decoration:none;
				}
			.sideSectionItem a:hover{
				color:#beaf81;
				}
			.sideSectionItem p{
				margin:4px 0;
				font-size:11px;
				line-height:13px;
				}
.leftContent{
	width:330px;
	float:left;
	padding:245px 0 20px 10px;
	text-align:justify;
	color:#000000;
	font-size:14px;
	line-height:18px;
	}
	.leftContent p{
		text-align:justify;
		}
.leftContentPages{
	width:469px;
	float:left;
	padding:110px 0 20px 10px;
	text-align:justify;
	color:#000000;
	}
	.leftContentPages p{
		text-align:justify;
		margin:0 0 12px 0;
		}
	.leftContentPages h1{
		margin:0;
		font-size:40px;
		line-height:44px;
		text-transform:uppercase;
		color:#beaf81;
		}
	.bredCrumbs{
		display:block;
		height:35px;
		}
		.bredCrumbs ul{
			margin:0;
			padding:0;
			list-style:none;
			}
		.bredCrumbs li{
			display:inline-block;
			text-transform:uppercase;
			font-size:15px;
			line-height:35px;
			color:#0c0b08;
			}
		.bredCrumbs a{
			color:#0c0b08;
			text-decoration:none;
			}
		.bredCrumbs a:hover{
			color:#2c2b28;
			}
.subMenuItems{
	display:block;
	margin:0;
	padding:0;
	list-style:none;
	}
	.subMenuItem{
		display:inline-block;
		margin:0 5px 0 0;
		text-transform:uppercase;
		font-size:17px;
		line-height:30px;
		}
		.subMenuItem a {
			color:#878787;
			text-decoration:none;
			}
			.subMenuItem a:hover,
			.subMenuItem a.active{
				color:#beaf81;
				text-decoration:none;
				}
.mainContent{
	border-top:3px solid #c7c7c7;
	clear:both;
	margin:0 0 24px 0;
	}
.mainSections{
	clear:both;
	width:740px;
	}
	.mainSectionItems{
		display:block;
		margin:20px 0;
		padding:0;
		list-style:none;
		}
		.mainSectionItem{
			display:inline-block;
			width:223px;
			margin:0 20px 10px 0;
			padding: 11px 0;
			border-top:2px solid #c7c7c7;
			}
			.mainSectionItem img{
				float:left;
				margin: 0 9px 9px 0;
				}
			.mainSectionItem h3{
				text-transform:uppercase;
				font-size:13px;
				line-height:16px;
				font-weight:bold;
				margin:0 0 7px 0;
				}
			.mainSectionItem a{
				color:#000000;
				text-decoration:none;
				}
			.mainSectionItem a:hover{
				color:#beaf81;
				}
			.mainSectionItem p{
				margin:4px 0;
				font-size:11px;
				line-height:13px;
				}
.footerNav{
	clear:both;
	border-top:2px solid #c7c7c7;
	border-bottom:2px solid #c7c7c7;
	margin:0 0 24px 0;
	}
	.footerNavItems{
		margin:0;
		padding:0;
		list-style:none;
		text-align: center;
		}
		.footerNavItem{
			display:inline-block;
			margin:3px 24px;
			}
			.footerNavItem a{
				text-decoration:none;
				text-transform:uppercase;
				color:#939393;
				font-size:17px;
				}
.price{
	width:100%;
	border-spacing:1px;
	border-collapse: separate;
	}
	.price th{
		padding:2px 14px;
		text-align:center;
		color:#878787;
		text-transform:uppercase;
		}
		.price .odd td{
			background:#ebe7d8;
			}
		.price td{
			background:#e1e1e1;
			text-align:left;
			}
		.price .name{
			padding:7px 14px;
			font-size:17px;
			line-height:20px;
			text-transform:uppercase;
			}
		.price .type{
			padding:7px 14px 7px 20px;
			}
		.price .service{
			padding:7px 14px 7px 20px;
			}
		.price .cost{
			padding:7px 14px;
			font-size:14px;
			}
		.price .photo{
			width:52px;
			}
		.price .photo img{
			display:block;
			float:left;
			}
		.price td.room{
			background:transparent;
			padding:3px 7px 3px 0;
			}
		.price .num{
			color:#beaf81;
			font-size:26px;
			line-height:28px;
			}
		.price .roomCost{
			display:inline-block;
			line-height:14px;
			font-size:12px;
			}
		.price .photoRoom{
			width:97px;
			}
			.price .photoRoom img{
				float:left;
				}
		.price .beds{
			width:70px;
			text-align:center;
			font-size:17px;
			padding:3px;
			line-height:20px;
			vertical-align:middle;
			}
			.price .beds small{
				font-size:10px;
				line-height:12px;
				display:inline-block;
				}
		.price .includes{
			font-size:21px;
			line-height:26px;
			text-align:center;
			vertical-align:middle;
			}
			.price .includes .subinfo{
				font-size:10px;
				line-height:12px;
				display:inline-block;
				}
		.price .booking{
			padding:3px 14px;
			}
.miniBookingForm{
	width:325px;
	}
	.miniBookingForm .leftPart,
	.miniBookingForm .rightPart{
		width:160px;
		display:inline-block;
		}
		.miniBookingForm label{
			padding:0 0 0 16px;
			font-size:17px;
			}
		.miniBookingForm select{
			font-size:12px;
			height:18px;
		}
		.miniBookingForm .datepick{
			padding:1px 0 1px 16px;
			background:url(images/design/datepicker.png) left center no-repeat;
			}
		.miniBookingForm .rightPart a{
			color:#880000;
			}
		.miniBookingForm a{
			font-size:12px;
			margin:0 0 0 16px;
			white-space:nowrap;
			}
.popupBookingForm{
	text-align:left;
	padding:20px;
	}
.popupBookingForm label{
	display:block;
	margin:1em 0 0.3em 0;
	}
.popupBookingForm input{
	width:230px;
	padding:2px;
	border:1px solid #c5c5c5;
	margin:0.3em 0 1em 0;
	}
.backgroundLine{
	display:block;
	width:100%;
	position:absolute;
	top:42px;
	overflow:hidden;
	z-index:0;
	}
	.bigImg{
		display:block;
		width:100%;
		height:215px;
		z-index:0;
		position:absolute;
		}
	.middleImg{
		display:block;
		width:100%;
		height:121px;
		z-index:0;
		position:absolute;
		}
		#winterimg div{
			background:url(images/bigwinter.jpg) center 0 repeat-x;
			}
		#springimg div{
			background:url(images/bigspring.jpg) center 0 repeat-x;
			}
		#summerimg div{
			background:url(images/bigsummer.jpg) center 0 repeat-x;
			}
		#autumnimg div{
			background:url(images/bigautumn.jpg) center 0 repeat-x;
			}
#mycarousel{
	width:100% !important;
	height:215px;
	margin:0;
	list-style:none;
	overflow:hidden;
}
#mycarousel li{
	width:100% !important;
}

#popupForm{
	display:block;
	width:400px;
	min-height:300px;
}